@{
	ViewData["Title"] = "Contact";
}
<h3 class="my-3">
	Contact us
</h3>
<div class="row gx-5">
	<img src="~/Images/contact/contact.jpg" class="img-fluid col-5" />
	<div class="col-7">
		<h1>We'd Love to Hear from you</h1>
		<h5>Please contact us by sending an email using the button below</h5>
		<email address="info@@elabsyspieshop.com" content="Contact us" class="btn btn-secondary"></email>
	</div>
</div>
